header li {
	display: inline;
}
header ul{
    width: 800px;
    border: 2px solid black;
    padding: 15px;
    letter-spacing:0px;
	background-color: #FFB4B0;


}

nav{
	width: 170px;
    border: 2px solid black;
    padding: 27px;
    letter-spacing:0px;
	background-color: #42f4c5;

	width: 200px ;
	
}
#song-length {
	float: left;
	height: 
	padding: 15px;

}
#song-list {
	
	float: left;
	width: 450px;
    border: 2px solid black;
    padding: 15px;
    margin-left: 1em;
    letter-spacing:0px;
	background-color: #ffdab3;
	
	width: 500px ;
	color:  #cc8800;
}


.fil{
	    text-align: center;
}
